* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background-color: rgb(34, 34, 34);
}

#sectionInfo{
    user-select: none;
    pointer-events: none;    
    color: rgb(250, 247, 244);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;    
    width: 100vw;    
}

.infoWrapper{    
    width: 30vw;
    margin: 10px;
}

.infoContainer { display: none; }

.vsInfoContainer { display: none; }

.fsInfoContainer { display: none; }

input[type=checkbox] {
    font-size: large;
    width: 1em;
    height: 1em;
    pointer-events: all;
}

#infoCheckBox:checked ~ .infoContainer { display: block; }
#vsInfoCheckBox:checked ~ .vsInfoContainer { display: block; }
#fsInfoCheckBox:checked ~ .fsInfoContainer { display: block; }

